<%= render :partial => 'layouts/loginheader' %>
<div class="index">
<h1><b>Welcome </b></h1>
<p>
    <%= link_to "Login", login_path %> or <%= link_to "Signup", signup_path %> or 
    <%= link_to "Sign in with Google", "/auth/google_oauth2"%> <!--This is a custom path, not a path helper-->
</p>
</div>

<!--The link_to is where you type in the text of the link -->
<!--Find the path name by running rails routes and writing _path after the route-->
<!-- login_path == login GET == session#new -->
<!-- signup_path == signup GET == users#new -->