 <%= render :partial => 'layouts/header' %>
<h1>Pizzas</h1>

<ol>
    <% @pizzas.each do |p| %>
        <li><%= p.specialtyname%> || <%= p.toppings %> </li>
        <%= link_to "Rate this Pizza", new_pizza_rating_path(p.id)%> <!--pass in the pizza_id (p.id) in this nested route-->
    <%end %>

</ol>