 <%= render :partial => 'layouts/header' %>
<h1>Pizzas</h1>

<ol>
    <% @pizzas.each do |p| %>
        <li><b>Restaurant:</b> <%= p.restaurant.name %> | <b>Specialty Name:</b> <%= p.specialtyname %> </li>
        <%= link_to "Rate this Pizza", new_pizza_rating_path(p.id)%> <!--pass in the pizza_id (p.id) in this nested route-->
    <%end %>
</ol>