<h2>Top Pizza: <%=@most_popular_pizza.specialtyname_and_restaurant %> </h2>
<h2>Second Pizza: <%=@second_popular_pizza.specialtyname_and_restaurant %></h2>
<h2>Third Pizza: <%=@third_popular_pizza.specialtyname_and_restaurant %></h2>