<%= render :partial => 'layouts/header' %>
<style>
table, th, td {
  border: 3px solid black;
}
</style>
<table>
  <tr>
    <th>Specialty Name</th>
    <th>Toppings</th>
    <th>Image</th>
  </tr>
  <tr>
    <td><%=@pizza.specialtyname%></td>
    <td><%=@pizza.toppings%></td>
    <td> <% if @pizza.image.attatched? %> <%= image_tag url_for(@pizza.image) %>  <% end %> </td>
  </tr>
</table>

</body>
</html>
