<%= render :partial => 'layouts/header' %>
<style>
table, th, td {
  border: 3px solid black;
  border-spacing: 10px;
}
</style>
<table class="foobar" cellpadding="10">
  <tr>
    <th>Restaurant</th>
    <th>Specialty Name</th>
    <th>Toppings</th>
    <th>Rating</th>
  </tr>
  <tr>
   <td><%=@pizza.restaurant.name%></td>
    <td><%=@pizza.specialtyname%></td>
    <td><%=@pizza.toppings%></td>  
  </tr>
</table>

</body>
</html>
