<h1>Pizza Places</h1>

<ol>
    <% @resturants.each do |r|%>
        <li><%= restaurant.name %></li>
        <li><%= restaurant.city %></li>
        <li><%= restaurant.state %></li>
        <li><%= restaurant.website %></li>
    <%end %>

</ol>