
<%=@restaurant.name %>
<%=@restaurant.city%>
<%=@restaurant.state %>


<form method="POST" action="/restaurant/<%=@restaurant.id%>">
    <input type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="Delete" />
</form>