<nav class="navbar navbar-light" style="background-color: #A52A2A;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">On a Mission for the Best Pizza in the USA.</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "Logout", logout_path, method: :delete %> </li>
        <li>  <a> <%= link_to "Add a Pizza", new_pizza_path %> </li>
        <li>  <a> <%= link_to "Add a Restaurant", new_restaurant_path %> </li>
      </ul>
    </div>
  </div>
</nav>