 <!DOCTYPE html>
<html>
<head>
<style>
.index {
 color: #1C0703; font-size: 500%; text-align: center; padding: 250px 70px 250px;
}
.login {
 color: #1C0703; font-size: 100%; text-align: center; padding: 250px 70px 250px;
}
.center{margin-left: auto;
  margin-right: auto;}
</style>
</head>
<body>
</body>
</html>